<launch>
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />


<node name="left_gripper_urdf_update_node" pkg="baxter_examples" type="send_urdf_fragment.py" args="-f $(find ros_reality_bridge)/urdf/left_end_effector.xacro -l left_hand -j left_gripper_base" />
<node name="right_gripper_urdf_update_node" pkg="baxter_examples" type="send_urdf_fragment.py" args="-f $(find ros_reality_bridge)/urdf/right_end_effector.xacro -l right_hand -j right_gripper_base" />
<node name="ros_reality_node" pkg="ros_reality_bridge" type="unityNode.py" />	
<node name="ros_reality_ik_node" pkg="ros_reality_bridge" type="ik_interface.py" />
<node name="right_image_compressor" pkg="image_transport" type="republish" args="raw in:=/cameras/right_hand_camera/image compressed out:=/cameras/right_hand_camera/image_compressed" />
<node name="left_image_compressor" pkg="image_transport" type="republish" args="raw in:=/cameras/left_hand_camera/image compressed out:=/cameras/left_hand_camera/image_compressed" />
<param name="/cameras/right_hand_camera/image_compressed/compressed/jpeg_quality" value="80" type="double" />
<param name="/cameras/left_hand_camera/image_compressed/compressed/jpeg_quality" value="80" type="double" />
</launch>
